# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================================
# Virtual Env
# =====================================
venv/
env/
ENV/
*.env
.env
*.key
*.secret
*.token

# =====================================
# Django Stuff
# =====================================
db.sqlite3
media/
static/
staticfiles/
*.log

# =====================================
# IDE & Editor
# =====================================
.vscode/
.idea/
*.swp
*.swo

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Docker
# =====================================
docker-compose.override.yml
*.pid

# =====================================
# Node (if present)
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
