{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/jpg" href="{% static 'frontend/assets/arakkha-job-connect-logo-RifybHVK.jpg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[PageName] | Arakkha Job Connect</title>


    <script type="module"  crossorigin src="{% static "frontend/assets/index-CTSz8E5c.js" %}"></script>
    <link rel="stylesheet" crossorigin href="{% static "frontend/assets/index-BMSblXeH.css" %}">

  <body>
    <div id="root">
    </div>
  </body>
</html>

